

header {
    height: 10%;
    width: 100%;
    margin: 10px;
    background-color: antiquewhite;
    position: relative;
    text-align: center;
}

h1 {
    text-align: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.split {
    height: 70%;
    width: 47%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    margin-top: 500px;
    margin: 5px;
    background-color: beige;
}

.right {
    margin-top: 500px;
    margin: 5px;
    background-color: beige;
}

.recipe-title {
    text-align: center;
}

.recipe-image {
    justify-content: center;
    align-items: center;
}

#footer {
    background-color: lightblue;
    display:flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}

.footer-text {
    color: white;
    text-align: center;
}